<!DOCTYPE html>
<html>
<head>
	<% include ./_head %>
</head>
<body>

<% var supporter %>

<div class="container container--header">
	<div class="row row--header">
		<a class="logo pull-left" href="/" role="button">
			<img src="http://i.imgur.com/w12ic2W.png">
		</a>
		<a class="btn btn-default pull-right button__cta" href="/supporters/new" role="button">Become a Supporter</a>
		<div class="header--supporters">
			<h1>You are not alone.</h1>
			<h3>Dealing with a miscarriage is painful. Let others who have also dealt with a miscarriage come along side you.</h3>
		</div>
	</div>
</div>
<div class="container container-list">
	<% for(var i = supporters.length - 1; i>=0; i--) { %>
		<div class="media media--list-view" role="button" id="<%=i%>">
		  <div class="media-left media-top">
		    <a href="">
		      <img class="media-object profile-picture img-circle" src="<%=supporters[i].image_url%>" alt="">
		    </a>
		  </div>
		  <div class="media-body">
		    <p><%=supporters[i].tagline%></p>
		    <p class="quote"><%=supporters[i].quote%></p>
		  </div>	
		</div>
		<div class="modal fade modal--details" id="detailsModal<%=i%>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
		  <div class="modal-dialog" role="document">
		    <div class="modal-content container--modal">
		      <div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		        <span class="glyphicon glyphicon-menu-left back-to-profile icon hidden" role="button"></span>
		      </div>
		      <div class="modal-body">
      			<a class="btn btn-default pull-right contact-me-button" role="button">Contact Me</a>
		      	<div class="profile-info">
		      		<div class="media" role="button" id="<%=i%>">
      				  <div class="media-left media-top">
      				    <a href="">
      				      <img class="media-object profile-picture img-circle" src="<%=supporters[i].image_url%>" alt="">
      				    </a>
      				  </div>
      				  <div class="media-body media-middle">
      				    <p><%=supporters[i].tagline%></p>
      				    <p class="quote"><%=supporters[i].quote%></p>
      				  </div>	
		      		</div>
		      		<h3>What I experienced during my miscarriage</h3>
				     	<p><%=supporters[i].experience%></p>
				     	<h3>What made it hard</h3>
				     	<p><%=supporters[i].experience%></p>
				     	<h3>My encouragement to you</h3>
				     	<p><%=supporters[i].experience%></p>
				    </div>
			      <div class="contact-form hidden">
			      	<div class="container__form">
			     			<form id="contactSupporterForm">
			     				<div class="row picDetails">
			     					<div class="pull-left">
			     						<img src="<%=supporters[i].image_url%>" alt="" width="100" height="100" class="center-block" />
			     					  <p class="help-block center-block">You are contacting <%=supporters[i].firstName%></p>
			     					</div>
			     					<div class="contact-inputs">
			     						<div class="form-group">
			     					    <label for="firstName">First Name</label>
			     					    <input type="text" class="form-control" id="firstName" name="firstName">
			     					  </div>
			     					  <div class="form-group">
			     					    <label for="email">Email address</label>
			     					    <input type="email" class="form-control" id="email" name="email">
			     					  </div>
			     					</div>
			     				</div>
			     				<div class="row">
			     					<div class="form-group">
			     				    <label for="experience">What struggles are you going through.</label>
			     				    <textarea type="text" class="form-control" id="experience" name="experience"></textarea> 
			     				  </div>
			     				</div>
			     				<div class="row">
			     					<div class="form-group">
			     				    <label for="quotes">What prayers or guidance would you like?</label>
			     				    <textarea type="text" class="form-control" id="quotes" name="quote"></textarea> 
			     				  </div>
			     				</div>
			     				<div class="row formActions">
			     		  		<button type="submit" class="btn btn-default center-block submit-contact-button">Submit</button>
			     			  </div>
			     			</form>
			     		</div>
			      </div>
		      </div>
		    </div>
		  </div>
		</div>
	<% } %>	
</div>
</body>
</html>
